.card {
    border: 1px solid transparent; 
    transition: all 0.7s; 
    margin: 2px !important; 
    box-sizing: border-box; 
    padding: 15px;
  }

  .cartBtn
  {
    opacity: 0 !important;
    transition: opacity 0.7s !important; 
    margin: auto;
  }

  .card:hover .cartBtn{
    opacity: 1 !important;
  }
  .card:hover{
    border: 1px solid green;
  }
  